.alert-container * {
    box-sizing: border-box;
}

.alert-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    z-index: 999;
    overflow: hidden;
    font-family: inherit, sans-serif;
}

.alert-container-top-left {
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
}

.alert-container-top-center {
    top: 0;
    bottom: unset;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
}

.alert-container-top-right {
    bottom: unset;
    right: 0;
    left: unset;
    top: 0;
}

.alert-container-bottom-left {
    bottom: 0;
    right: unset;
    left: 0;
    top: unset;
}

.alert-container-bottom-center {
    bottom: 0;
    right: unset;
    left: 50%;
    top: unset;
    transform: translateX(-50%);
}

.alert-container-fixed {
    position: fixed;
}



.alert-wrapper {
    overflow: hidden;
    height: auto;
    margin: 0;
    border-radius: 3px;
    display: flex;
    min-width: auto;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.alert {
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 3px;
    color: #eee;
    font-size: 16px;
    background-color: #262626;
    vertical-align: bottom;
    box-shadow: 0 0 4px 0 black;
    margin: 0 10px;
    flex-grow: 1;
}

.alert-close,
.alert-status,
.alert-message-wrapper {
    position: relative;
}

.alert-message-wrapper {
    flex: 1;
    padding: 12px;
}

.alert-message {
    display: inline-block;
}

.alert-status {
    display: none;
    min-width: 15px;
    margin-right: 5px;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
}

 .alert-status.alert-success,
 .alert-status.alert-warning,
 .alert-status.alert-danger,
 .alert-status.alert-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-status.alert-success  {
    background-color: #4caf50;
}

.alert-status.alert-warning  {
    background-color: #ff9800;
}

 .alert-status.alert-danger {
    background-color: #b90909;
}

 .alert-status.alert-info {
    background-color: #2196f3;
}

.alert-icon {
    display: block;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 0 5px;
    font-family: monospace;
}

.alert-action {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #838cff;
    cursor: pointer;
}

.alert-action:hover {
    background-color: #333;
}

.alert-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    user-select: none;
    color: #BBB;
}

.alert-close:hover {
    background-color: #444;
}